nav {
  height: fit-content;
  box-shadow: 0 2px 10px 0 rgba(68, 68, 74, 0.3) inset;
  background-image: url("assets/Background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 10px 10%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1.5em;
}

.mainLinks {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
  gap: 0.5em 0.5em;
  a {
    width: 100%;
    border: 1px solid #44444A;
  }
  .activeLink {
    border: 1px solid rgba(91, 146, 229, 0.6);
    box-shadow: 0 0 8px 1px rgba(91, 146, 229, 0.85);
  }
}

.subLinks {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  a {
    width: fit-content;
    height: fit-content;
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid rgba(91, 146, 229, 0.6);
    box-shadow: 0 0 8px 3px rgba(91, 146, 229, 0.85);
  }
  a:hover {
    background-color: rgba(91, 146, 229, 0.85);
  }
}

.mainLinks, .subLinks {
  height: 100%;
  .activeLink {
    background-color: rgba(91, 146, 229, 0.85);
    color: white;
  }

  a {
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: rgba(31, 35, 31, 0.6);
    border-radius: 0.2em;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
  }

  a:hover {
    transform: scale(1.05);
    transition: 0.3s;
  }
}

.mainLinks a h2 {
  font-size: 1em;
  font-family: Roboto, serif;
  font-weight: normal;
  letter-spacing: 1.5px;
  white-space: pre-line;
  margin: 0 auto;
}
.subLinks a h3 {
  font-size: 0.8em;
  font-family: Roboto, serif;
  font-weight: normal;
  letter-spacing: 1.5px;
  white-space: pre-line;
  margin: 0 auto;
}

@media screen and (max-width: 1140px) {
  nav {
    gap: 1em;
  }
  .mainLinks {
    padding: 0 2%;
    font-size: 0.7em;
  }
  .subLinks {
    padding: 0 2%;
    font-size: 1em;
  }
}

@media screen and (max-width: 840px) {
  nav {
    grid-template-rows: 1fr 0.5fr;
  }
  .mainLinks {
    height: auto;
    padding: 0.5em;
    font-size: 1em;

    grid-template-columns: repeat(2, minmax(140px, 1fr));

    a {
      height: 100%;
      padding: 2%;
      grid-template-columns: 7fr 3fr;
      grid-template-rows: 1fr;
      h2 {
        padding: 0;
        align-self: center;
      }
    }
    a:hover {
      transform: scale(1.05);
    }
  }
  .subLinks {
    height: fit-content;
    padding: 0.5em;
    font-size: 1.3em;
    flex-wrap: wrap;
    a {
      margin: 10px;
    }
  }
}

@media screen and (max-width: 500px) {
  .nav {
    padding: 10px 0;
  }
}

@media screen and (max-width: 369px) {
  .mainLinks {
    grid-template-columns: 1fr;
  }
  nav {
    grid-template-rows: 1fr 0.4fr;
  }
}
